name: Frontend CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-lint:
    name: Build & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      
      - name: Run Prettier Check
        id: prettier-check
        continue-on-error: true
        run: yarn prettier --check .

      - name: Run Prettier Fix
        if: steps.prettier-check.outcome == 'failure'
        run: yarn prettier --write .

      - name: Run Linter
        run: yarn lint